name: Lint (Auto)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Linter básico
        run: echo "Lint OK — no hay proyectos que analizar aún"
